.hover-card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.hover-card:active {
  transform: scale(0.95);
}

.selected-card {
  background-color: black;
  color: white;
}

.truncate-text {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-title {
  font-weight: bold;
}
